/* Main CSS allanenemark.com */
/* Maybe should have used SASS, but eh, not much css tbh */

html,
body {
    color: white;
    background-color: #cfcfd0;
}

#header {
    display: none;
    position: relative;
}

#header-text {
   position: relative;
   top: 25%;
   width: 100%;
   height: auto;
}

#top-viz {
    position: relative;
    z-index: 10;
}

#top-svg {
    position: absolute;
    width: 60%;
    height: auto;
    top: 30%;
    left: 50%;
    margin-left: -30%;
}


#top-text-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
}

#top-text {
    position: relative;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 100;
    font-size: 12vw;
    text-align: center;
    top: 25%;
    color: white;
    cursor: default;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

#top-sub-text {
    position: relative;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 100;
    font-size: 5.6vw;
    text-align: center;
    top: 15%;
    color: white;
    cursor: default;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

#down-arrow {
    cursor: pointer;
    position: relative;
    top: -1.2em;
    font-size: 3.5em;
    text-align: center;
    width: 100%;
}

.nav-list {
    margin-top: 1em;
    list-style: none;
    line-height: 1em;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: #eaeaea;
    border-bottom: 2px #eaeaea dotted;
}

.contact {
    cursor: pointer;
    display: block;
    margin: 20px 0px;
    width: 100%;
    color: white;
    text-decoration: none;
    border-bottom: 2px white solid;
}

.contact:hover {
    color: #eaeaea;
    border-bottom: 2px #eaeaea dotted;
}

section {
    position: relative;
    padding: 5% 0 10% 0;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
}

section:last-of-type {
    position: relative;
    padding: 13% 0 2% 0;
}

.head-line {
    margin-bottom: 8%;
    border-top: 3px white solid;
}

.head-line:last-of-type {
    margin-top: 10%;
    margin-bottom: 8%;
    border-top: 3px white solid;
}

.head-line-text {
    position: absolute;
    margin-top: -0.3em;
    font-size: 1.3em;
    font-variant: small-caps;
}

.big-text {
    font-family: 'Yantramanav', sans-serif;
    font-weight: 100;
    font-size: 5vw;
    line-height: 1em;
    margin-top: -0.1em;
    margin-bottom: 0;
}

.open-detail {
    cursor: pointer;
}

.base-line {
    position: relative;
    border-bottom: 2px white solid;
    font-size: 1.1em;
    font-variant: small-caps;
    bottom: 2.2em;
}

video {
    cursor: pointer;
}

.detail-link {
    z-index: 55;
    cursor: pointer;
    font-variant: small-caps;
    font-size: 1.2em;
}

.detail-link:hover {
    color: #eaeaea;
}

.close-detail {
    font-variant: small-caps;
    font-size: 1.2em;
    cursor: pointer;
    position: relative;
    margin-top: 3em;
    top: -2.2em;
    text-align: right;
}

.close-detail:hover {
    color: #eaeaea;
}

.base-line-low {
    position: relative;
    top: -2.6em;
    border-top: 3px white solid;
    height: 40px;
    background-color: inherit;
}

.head-line-more {
    width: 100%;
    line-height: 1.1em;
    margin-top: 1.3em;
    margin-bottom: 0.2em;
    font-size: 1.3em;
    font-variant: small-caps;
    border-bottom: 1px solid white;
}

.desc-text {
    line-height: 1.7em;
    font-size: 1em;
    margin-bottom: 1em;
}

.img-section {
    position: relative;
}

.more-section {
    display: none;
}

.box-spacer {
    font-size: 1.7em;
    width: 100%;
    text-align: center;
    margin: 20% 0 20% 0;
}

.press-list {
    color: white;
    text-decoration: none;
    border-bottom: 1px white solid;
}

.press-list:hover {
    color: #eaeaea;
    border-bottom: 1px #eaeaea dotted;
}

.press-title {
    font-size: 1.1em;
}

.misc-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.misc-project {
    text-decoration: none;
}

.sub-text {
    color: white;
    text-decoration: none;
    margin: -2px 0px 30px 0px;
    border-top: 1px #eaeaea solid;
}

#stardate {
    font-size: .7em;
}


/** helper **/

.loading{
    padding: 5em;
}

.full-image {
    width: 100%;
    height: 100%;
}

.numbers {
    margin-top: -0.4em;
    font-size: 1em;
    line-height: 2.3em;
}

.emphisis {
    font-size: 1.3em;
    font-variant: small-caps;
}

.left {
    left: 0px;
}

.right {
    right: 0px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}


/*** css3 transitions ***/

.flip {
    transform: rotate(180deg);
}

.transition {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


/*** Media Queries ***/

@media (max-width: 640px) {
    .big-text {
        font-size: 2.5em;
        margin-right: 20%;
        margin-top: 1em;
        line-height: 0.9em;
    }
    #down-arrow {
        font-size: 3em;
        margin-top: 0.7em;
        margin-bottom: -1em;
    }
    .base-line {
        background-color: inherit;
    }
    .desc-text {
        margin-top: 0;
    }
    .left {
        left: 20px;
    }
    .right {
        right: 20px;
    }
}
